* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
    background-color: #FFF;
    line-height: 22px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#menulinks {
    width: 230px;
    height: auto;
    position: relative;
    float: left;
    z-index: 20;
}

#menulinks_bg {
    background-color: #f5f5f5;
    border-right: #e0e0e0 solid 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    z-index: 20;
}

#cms_menu li {
    width: 92%;
    border-bottom: #e0e0e0 solid 1px;
    border-top: #FFF solid 1px;
    padding-left: 8%;
}

#cms_menu li:active {
    cursor: pointer;
}

#cms_menu li a {
    font-size: 14px;
    text-decoration: none;
    color: #202020;
    display: block;
    padding: 13px 0px;
}

.formulier-beheerpaneel {
    position: relative;
    float: left;
    width: calc(100% - 230px);
    padding-left: 25px;
    padding-right: 25px;
}

.formulier-beheerpaneel label {
    width: 100%;
    position: relative;
    float: left;
}

.formulier-beheerpaneel label:first-child {
    margin-top: 25px;
}

.formulier-beheerpaneel input[type=text] {
    width: 60%;
    position: relative;
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
}

.formulier-beheerpaneel input[type=submit] {
    width: 60%;
    position: relative;
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
}

.formulier-beheerpaneel textarea {
    width: 60%;
    position: relative;
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
    height: 150px;
}